<div class="columns is-vcentered pt-30">
    <div class="column is-121">

        <nz-table class="responsive-table is-secondary mb-40" #basicTable [nzData]="dataSet">
            <tbody>
                <tr class="light-text">
                    <th class="light-text">#</th>
                    <th class="light-text">PROJECT NAME</th>
                    <th class="light-text">BIDS</th>
                    <th class="light-text">AVERAGE BID</th>
                    <th class="light-text">BID END DATE</th>
                    <th class="light-text">ACTIONS</th>
                </tr>
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <td data-th="#">
                        {{i + 1}}
                    </td>
                    <td data-th="PROJECT NAME">
                        {{data.Title}}
                    </td>
                    <td data-th="BIDS">
                        {{bids[i]}}
                    </td>
                    <td data-th="AVERAGE BID">
                        Engineer
                    </td>
                    <td data-th="BID END DATE">
                        21
                    </td>

                    <td data-th="ACTIONS">
                        <button class="button is-small btn-align info-btn raised rounded btn-outlined mr-10">View</button>
                        <button (click)="showEditModal(i)" class="button is-small btn-align secondary-btn raised rounded btn-outlined mr-10">Edit</button>
                        <button (click)="updateDocsModal(i)" class="button is-small btn-align warning-btn raised rounded btn-outlined mr-10">Update
              documents</button>
                        <button class="button is-small btn-align danger-btn raised rounded btn-outlined mr-10">Delete</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzWidth]="width" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        Edit Project
    </ng-template>

    <ng-template #modalContent>
        <div *ngIf="editIndex !== undefined" class="padding-20">
            <div class="field">
                <label class="form-label is-size-4">Name of the project</label>
                <div class="control mt-5">
                    <input type="text" class="input is-large" [(ngModel)]="dataSet[editIndex].Title" placeholder="eg Build a website">
                </div>
            </div>
            <div class="field mt-20">
                <label class="form-label is-size-4">A bit explanation about your project</label>
                <div class="control mt-5">
                    <textarea class="textarea is-grow" [(ngModel)]="dataSet[editIndex].Description" rows="5" placeholder="Describe your project here..."></textarea>
                </div>
            </div>
            <div class="field mt-20">
                <label class="form-label is-size-4">Drop any Documents or images that can be of help</label>
                <div class="control mt-5">


                </div>
            </div>
            <div class="field mt-20">
                <label class="form-label is-size-4">What skills required for your project?</label>
                <div class="control mt-5">
                    <nz-select [nzMaxMultipleCount]="9" style="width: 100%" [(ngModel)]="listOfSelectedValueLabel" nzMode="multiple" [nzSize]="'large'" nzPlaceHolder="Please select skills required">
                        <nz-option *ngFor="let option of listOfSkills" [nzLabel]="option.Title" [nzValue]="option.Title"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="field mt-20">
                <label class="form-label is-size-4">What is your estimated budget?</label>
                <div class="control mt-5">
                    <div class="columns">
                        <div class="column field is-6">
                            <label class="form-label">Minimum Budget</label>
                            <div class="control mt-5">
                                <nz-input-number [nzSize]="'large'" [nzMin]="0" [nzMax]="2000000" [nzStep]="10" [(ngModel)]="dataSet[editIndex].Budget.minimum" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
                            </div>
                        </div>
                        <div class="column field is-6">
                            <label class="form-label">Maximum Budget</label>
                            <div class="control mt-5">
                                <nz-input-number [nzSize]="'large'" [nzMin]="0" [nzMax]="2000000" [nzStep]="10" [(ngModel)]="dataSet[editIndex].Budget.maximum" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field mt-20">
                <label class="form-label is-size-4">How do you want to pay?</label>
                <div class="control mt-5">
                    <div class="columns">
                        <div class="column field is-6">
                            <div nz-card-grid (click)="SelectedMethod(1)" [ngClass]="{paymentMethod: selected1}" [ngStyle]="gridStyle">
                                <h4>Pay fixed charge</h4>
                                <p>Agree on a price and release payment after the job is completed</p>
                            </div>
                        </div>
                        <div class="column field is-6">
                            <div nz-card-grid (click)="SelectedMethod(2)" [ngClass]="{paymentMethod: selected2}" [ngStyle]="gridStyle">
                                <h4>Pay hourly</h4>
                                <p>Pay for each and every hour the employee is involved in your project</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="field mt-20">
                <button class="button btn-dash secondary-btn is-raised is-fullwidth rounded ripple no-lh" (click)="submitEditedProject()" data-ripple-color="">Update my project</button>
            </div>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <span>Modal Footer: </span>
        <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button>
    </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="isVisible2" [nzTitle]="modalTitle2" [nzWidth]="width" [nzContent]="modalContent2" [nzFooter]="modalFooter2" (nzOnCancel)="handleCancel2()">
    <ng-template #modalTitle2>
        Update project Documents
    </ng-template>

    <ng-template #modalContent2>
        <div *ngIf="editIndex !== undefined" class="padding-20">
            <div class="columns">
                <div class="column is-3" *ngFor="let item of dataSet[editIndex].ProjectFiles; let i = index">
                    <div class="flex-card light-bordered hover-raised">

                        <div class="card-body">
                            <div class="content has-text-centered">
                                <h2 class="no-margin title-bold">File {{i + 1}}</h2>
                                <p class="pt-10"> <a href="http://www.{{item.Path}}" target="_blank">View</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <nz-upload [(nzFileList)]="fileList" style="width: 100%" [nzSize]="'large'" [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
            <i nz-icon type="upload"></i><span>Select File</span>
          </button>
                </nz-upload>
            </div>

        </div>
    </ng-template>

    <ng-template #modalFooter2>
        <span>Modal Footer: </span>
        <button nz-button nzType="default" (click)="handleCancel2()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk2()" [nzLoading]="isConfirmLoading">Custom Submit</button>
        <button nz-button nzType="primary" (click)="uploadFiles()">submit docs</button>
    </ng-template>
</nz-modal>