<nz-tabset>
    <nz-tab [nzTitle]="openProject">
        <ng-template #openProject>
            <i nz-icon type="apple"></i>Open Project
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="workInProgress">
        <ng-template #workInProgress>
            <i nz-icon type="apple"></i>Work In Progress
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="pastProjects">
        <ng-template #pastProjects>
            <i nz-icon type="apple"></i>Past Projects
        </ng-template>
    </nz-tab>
</nz-tabset>