<div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
    <div class="edit-button has-text-centered">
        <h3 class="title">Edit Profile</h3>
        <div class="cross-container edit-trigger">
            <span class="top"></span>
            <span class="bottom"></span>
        </div>
    </div>
    <div class="card-body">
        <!-- Edit form -->
        <form>
            <div class="columns">
                <div class="column">
                    <div class="">
                        <h5 class="title">Basic Information</h5>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="material-icons">person_outline</i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>First name</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="material-icons">mail_outline</i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="material-icons">person</i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Surname</label>
                    </div>
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="material-icons">smartphone</i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Mobile Number</label>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="">
                        <h5 class="title">Social Media Links</h5>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-linkedin"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Linked In</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-twitter fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Twitter</label>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-facebook-f"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Facebook</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-instagram fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Instagram</label>
                    </div>

                    <div class="has-text-centered mt-30">
                        <button class="button btn-dash secondary-btn is-raised is-fullwidth rounded ripple no-lh" data-ripple-color="">Save changes</button>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="">
                        <h5 class="title">Address</h5>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-linkedin"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Street Address</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-twitter fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>City</label>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-facebook-f"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Suburb</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-instagram fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Country</label>
                    </div>

                    <div class="has-text-centered mt-30">
                        <button class="button btn-dash secondary-btn is-raised is-fullwidth rounded ripple no-lh" data-ripple-color="">Save changes</button>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="">
                        <h5 class="title">Education</h5>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-linkedin"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Start Date</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-twitter fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Education Type</label>
                    </div>
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-twitter fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Institution Name</label>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-facebook-f"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>End Date</label>
                    </div>

                    <div class="control-material is-secondary has-icon">
                        <input class="material-input" type="text" required>
                        <i class="fa fa-instagram fa-1x"></i>
                        <span class="material-highlight"></span>
                        <span class="bar"></span>
                        <label>Certificate Attained</label>
                    </div>

                    <div class="has-text-centered mt-30">
                        <button class="button btn-dash primary-btn is-raised ripple no-lh" data-ripple-color=""><i class="fa fa-plus"></i>Add another education</button>
                    </div>
                    <div class="has-text-centered mt-30">
                        <button class="button btn-dash secondary-btn is-raised is-fullwidth rounded ripple no-lh" data-ripple-color="">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /Edit form -->
    </div>
</div>