.profile-sections-wrapper #profile-view .edit-button {
    padding: 10px;
}

.profile-sections-wrapper #profile-view .info-heading {
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    font-weight: 300;
    color: #A9ABAC;
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase;
}

.profile-sections-wrapper #profile-view .info-section {
    margin-bottom: 40px;
}

.profile-sections-wrapper #profile-view .info-divider {
    border-bottom: 1px solid #ededed;
    background-color: #ededed;
    height: 1px;
    margin: 0.5em 0px 1.5em;
}

.profile-sections-wrapper #profile-view .info-item .info-title {
    font-weight: 500;
    color: #444F60;
    font-size: 18px;
}

.profile-sections-wrapper #profile-view .info-item .info-description {
    color: #878787;
    font-size: 16px;
}

.profile-sections-wrapper #profile-view .info-item .taglist span {
    margin: 3px;
}

.tag.is-primary.is-outlined {
    background: transparent;
    border: 1px solid #00D1B2;
    color: #00D1B2;
}

.tag.is-primary {
    background: #00D1B2;
    color: #fff;
}

.tag.is-outlined {
    border: 1px solid #999;
}

.tag.squared {
    border-radius: 2px !important;
}

.tag {
    margin-bottom: 5px;
}

nz-page-header {
    border: 1px solid rgb(235, 237, 240);
    color: #fff;
    background-color: #444F60;
}

.ant-page-header {
    background-color: #444F60;
    color: #fff;
}